# Rename this file to .env and update the values as needed.

# Logging level, can be DEBUG, INFO, WARNING, ERROR, CRITICAL
LOGLEVEL=DEBUG

# Network interface to monitor (e.g., eth0, wlan0)
IFACE=eth0

# IP address of the interface to monitor
IFACE_IP=172.19.0.2

# Port to monitor (e.g., for an SSH server)
PORT_TO_MONITOR=2222

# Port to open (e.g., for remote access)
PORT_TO_OPEN=22

# Path to the "pickle" file used to store timer information
PICKLE_FILE=timers.pkl
